body{
    background-image: url(./src/39033.png);
    
}
#center{
    background-color: #F3F4F6;
    align-items: center;
}

#random-generator{
    margin-top: 2rem;
    float: right;
}

#center1{
    background-color: #F3F4F6;
  
}
